#padL{
    padding-left: 50px;
}


#BoldB{
    color: #FFFFFF;
    font-weight:bold;
  }

  #color{
  color: #eae8ff;
  font-weight:bold;
  }

  h3{
    color:#FFFFFF;
    font-weight:bold;
  }

  p{
    color: #eae8ff;
    font-weight:bold;
  }

  a{
      color: #afefff;
  }



body{
  background-color:#2c3f5e
}

section{
  padding-left:300px;
  padding-right:300px;
}
