@model IEnumerable<HW8.Models.Artist>
@{
    ViewBag.Title = "Artists";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
       
        </tr>
    }

</table>

<div class="btn-group">
    @Html.ActionLink("Add an Artist", "Create", "Home", null, new { @class = "btn btn-default" })
</div>
