.BoldW{
  color: #FFFFFF;
}

.BoldB{
  color: #000000;
  font-weight: bold;
}

.padL{
    padding-left: 40px;
}

h2{
    padding-left: 40px;
}

body{
  background-color: #85FFDA
}

.bg{
  background-color: #FFFFFF;
}

#myNavbar{
  color: #FFFFFF;
  text-alin: left;
}
