.BoldW{
  color: #FFFFFF;
  font-weight: bold;
}


.BoldG{
  color: #8b8d8e;
  font-weight: bold;
}

.BoldB{
  color: #000000;
  font-weight: bold;
}

.button {
    background-color: #2a98dd;
    border: none;
    color: white;
    border-radius: 12px;
    font-size: 18px;
  }

  .left{
    text-align: left;
  }


.padL{
    padding-left: 250px;
}

h2{
    padding-left: 40px;
}

body{
  background-color: #223e6b
}

.bg{
  background-color: #FFFFFF;
}

#myNavbar{
  color: #FFFFFF;
  text-alin: left;
}
