#BoldW{
  color: #FFFFFF;
}

#padL{
    padding-left: 40px;
}

h2{
    padding-left: 40px;
}

body{
  background-color: #363434
}

table{
  float: left;
}

#myNavbar{
  color: #FFFFFF;
  text-alin: left;
}
