@model IEnumerable<HW6.ProductCategory>
@{
    ViewBag.Title = "Index";
}

<div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AdventurWorks</a>
            <div>
                <ul class="nav navbar-nav">
                    @foreach (var item in Model.ToList())
                    {
                        @Html.ActionLink(item.Name, "Index/" + item.ProductCategoryID, new { controller = "Product" }, new { @class = "btn " });
                    }
                </ul>
            </div>
            </div>
        </div>
    </nav>
   
    <div class="navbar navbar-deefault">
        <!-- If Product Category was selected, show list of links for that Category's Subcategories -->
        @if (ViewBag.ID != null)
            {
            <h1>@Model.Where(p => p.ProductCategoryID == ViewBag.ID).FirstOrDefault().Name</h1> <!-- Name of the Category selected -->
            <ul class="list-group">
                @foreach (var item in Model.Where(p => p.ProductCategoryID == ViewBag.ID).Select(p => p.ProductSubcategories).ToList().FirstOrDefault())
                {
                    @Html.ActionLink(item.Name, "Product/" + item.ProductSubcategoryID, new { controller = "Product" }, new { @class = "btn" })
                }
            </ul>
        }
    </div>
</div>


