@{
    ViewBag.Title = "Reginald's Ancient Antiquities Auction House";
}

<h2>Reginald's Ancient Antiquities Auction House</h2>

<div class="btn-group">
    @Html.ActionLink("Bid on an Item!", "CreateBid", "Home", null, new { @class = "btn btn-lg" })
</div>