
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<ul>
    <li> @Html.ActionLink("Home", "Index", "Home") </li>
    <li> @Html.ActionLink("Page 1", "Page1", "Views") </li>
    <li> @Html.ActionLink("Page 2", "Page2", "Home") </li>
    <li> @Html.ActionLink("Page 3", "Page3", "Home") </li>
</ul>